# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
project1 (shell)/src/my_shell
project1 (shell)/src/environment_test
project1 (shell)/src/argument_test
project2 (hashmap)/src/stress_test
project2 (hashmap)/src/word_count
project2 (hashmap)/src/idriver
project2 (hashmap)/src/tests/map_test
project2 (hashmap)/src/tests/fnv64_test
project3 (rhodes ramble - yikyak clone)/src/rr_curses_client
project3 (rhodes ramble - yikyak clone)/src/rr_console_client
project3 (rhodes ramble - yikyak clone)/src/rr_server
project3 (rhodes ramble - yikyak clone)/src/scratch/emoji_menu
project3 (rhodes ramble - yikyak clone)/src/tests/users_test
project3 (rhodes ramble - yikyak clone)/src/tests/posts_test
project3 (rhodes ramble - yikyak clone)/src/tests/rr_core_test